<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="description" content="Compteur de gens">

		<title>Compteur</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.1.1/auth0-spa-js.production.js"></script>

    <script src="https://kit.fontawesome.com/62d70bec9b.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/pouchdb@7.1.1/dist/pouchdb.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>

  <body>
    <div id="app">
      <header>
          <nav class="navbar sticky-top shadow-sm pb-2 navbar-light bg-light">
            <a class="navbar-brand mr-auto" href="index.html"> Counter </a>
            <button v-if="!isAuthenticated" type ="button" class="btn btn-primary" @click="login">Login/Sign up</button>
            <button v-if="isAuthenticated" type ="button" class="btn btn-primary" @click="logout">Logout</button>
            <img
            v-if="isAuthenticated"
            :src="user.picture"
            class="rounded-circle"
            width="70"
            />
          </nav>
      </header>

      <main>

        <div class="container-fluid p-0">
          <div class="row justify-content-md-center">
            <counter
              v-if="counting"
              :count="selectedCount"
              :point-index="selectedPointIndex"
              @register-click="registerClick"
              @end-count="endCount"
            ></counter>
            <edit-count
              v-else-if="editingPoint"
              :count="selectedCount"
              :point-index="selectedPointIndex"
              @save="editingPoint = false; counting = true"
            ></edit-count>
            <counts-list
              v-else
              :counts="counts"
              @select-point="onSelectPoint"
              @select-count="onSelectCount"
              @edit-point="onEditPoint"
            ></counts-list>
          </div>
        </div>

      </main>
    </div>

    <script src="service-worker.js" type="application/javascript"></script>
    <script src="app/components.js" type="application/javascript"></script>
    <script src="app/index.js" type="application/javascript"></script>

  </body>
</html>
